/* ==UserStyle==
@name           BiteSquad Tweaks
@namespace      gitlab.com/saneki/userstyles
@version        0.0.1
@description    Tweaks for the BiteSquad website.
@author         saneki
==/UserStyle== */
@-moz-document domain("bitesquad.com") {
    /* Hide the live support chat prompt. */
    div#bisq_chat {
        display: none;
    }
}
