/* ==UserStyle==
@name           Reddit Tweaks
@namespace      gitlab.com/saneki/userstyles
@version        0.0.4
@homepageURL    https://gitlab.com/saneki/userstyles
@updateURL      https://gitlab.com/saneki/userstyles/raw/master/userstyles/reddit-tweaks.user.css
@description    Tweaks for reddit
@author         saneki
@preprocessor   uso

@var select full-post-menu-display 'Full Post Menu' {
    "Always Show": "display: flex;",
    "Default": "",
}

@var select main-sidebar-visibility 'Main Sidebar' {
    "Hidden": "none",
    "Visible": "block",
}

@var select overlay-sidebar-visibility 'Overlay Sidebar' {
    "Hidden": "none",
    "Visible": "block",
}

@var select post-sidebar-visibility 'Post Sidebar' {
    "Hidden": "none",
    "Visible": "block",
}
==/UserStyle== */
@-moz-document domain("reddit.com") {
    /*
    Hide "Community Details" sidebar when viewing a post.
    */
    div#SHORTCUT_FOCUSABLE_DIV > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) {
        /* For viewing a post with the overlay. */
        display: /*[[overlay-sidebar-visibility]]*/;
    }
    div#SHORTCUT_FOCUSABLE_DIV > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) {
        /* For viewing a post directly, for example via a link. */
        display: /*[[post-sidebar-visibility]]*/;
    }
    div#SHORTCUT_FOCUSABLE_DIV > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(3) > div:nth-of-type(2) {
        /* Hide sidebar on the main subreddit page. */
        display: /*[[main-sidebar-visibility]]*/;
    }

    /*
    Always show full menu for a post, even when window isn't wide.
    */
    @media screen and (max-width: 1080px) {
        div#SHORTCUT_FOCUSABLE_DIV > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(1) > div:nth-of-type(5) > div:nth-of-type(1) > button {
            /*[[full-post-menu-display]]*/
        }
    }
}
