/* ==UserStyle==
@name           Width Tweaks
@namespace      gitlab.com/saneki/userstyles
@version        0.0.2
@homepageURL    https://gitlab.com/saneki/userstyles
@updateURL      https://gitlab.com/saneki/userstyles/raw/master/userstyles/width-tweaks.user.css
@description    Width tweaks for various websites.
@author         saneki
@preprocessor   stylus
@var select var-content-width "Content Width" {
    "default:Default*": "default",
    "large_1440:Large (1440px)": "1440px",
    "large_1600:Large (1600px)": "1600px",
    "large_1760:Large (1760px)": "1760px",
    "entire:Entire (100%)": "100%",
}
@var checkbox var-auto-prioritize "Automatically Prioritize" 1
@var checkbox var-prioritize-content "Prioritize Content" 0
==/UserStyle== */
@-moz-document domain("docs.docker.com") {
    prioritize-content() {
        .col-nav {
            display: none;
        }
        .col-toc {
            display: none;
        }
    }
    if var-prioritize-content {
        prioritize-content();
    }
    else if var-auto-prioritize {
        @media only screen and (max-width: 1200px) {
            prioritize-content();
        }
    }
}
@-moz-document domain("gitlab.com") {
    if var-content-width != "default" {
        .content-wrapper {
            .container-limited {
                max-width: var-content-width;
            }
            .limit-container-width {
                .commit-ci-menu {
                    max-width: var-content-width;
                }
                .files-changed-inner {
                    max-width: var-content-width;
                }
                .info-well {
                    max-width: var-content-width;
                }
                .limited-width-notes {
                    max-width: var-content-width;
                }
            }
        }
    }
}
@-moz-document domain("docs.microsoft.com") {
    prioritize-content() {
        .mainContainer > .columns {
            > div#left-container {
                display: none;
            }
            > section.primary-holder {
                width: 100%;
                > div.columns > div.right-container {
                    display: none;
                }
            }
            #main-column {
                width: 100%;
            }
        }
    }
    if var-prioritize-content {
        prioritize-content();
    }
    else if var-auto-prioritize {
        @media only screen and (max-width: 1200px) {
            prioritize-content();
        }
    }
}
@-moz-document domain("askubuntu.com"),
               domain("stackexchange.com"),
               domain("stackoverflow.com"),
               domain("superuser.com") {
    prioritize-content() {
        #left-sidebar {
            display: none;
        }
        #mainbar {
            width: 100%;
        }
        #sidebar {
            display: none;
        }
        .post-layout--right {
            padding: 0;
        }
    }
    if var-prioritize-content {
        prioritize-content();
    }
    else if var-auto-prioritize {
        @media only screen and (max-width: 1200px) {
            prioritize-content();
        }
    }
    if var-content-width != "default" {
        body > .container {
            max-width: var-content-width;
        }
        #content {
            max-width: var-content-width;
        }
    }
}
@-moz-document domain("stackoverflow.com") {
    prioritize-content() {
        #content {
            border: none;
            padding-left: 0;
            padding-right: 0;
        }
    }
    if var-prioritize-content {
        prioritize-content();
    }
    else if var-auto-prioritize {
        @media only screen and (max-width: 1200px) {
            prioritize-content();
        }
    }
}
